<div class="col s3">
    <div class="card-panel teal">
	  <span class="white-text">
	  	Subject: <%= grades.subject %><br>
	    Grade: <%= grades.grade %><br>
	    Quarter: <%= grades.quarter %>
	  </span>
	</div>
</div>
