<%= javascript_include_tag 'style' %>
<div class="row" style="background-color: #e8e8e8">
  <div class="">
    <nav class="orange darken-4">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">Dashboard</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>

    <div class="col s12 m12 l9 right">
      <%= render 'form', student: @student %>
    </div>

  </div>
  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>


  





