<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l9 offset-l3">
        <h5 class="white-text">San Jose del Monte National Trade School</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l9 offset-l3">
          © 2018 San Jose del Monte National Trade School Web Portal
          <% if administrator_signed_in? %>
          <% else %>
            <%= link_to new_administrator_session_path , class:"grey-text text-lighten-4 right " do %>
              <i class="fa fa-lock" aria-hidden="true"></i> Administration</a>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>